PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6-sip==13.8.0
SQLAlchemy==2.0.36
alembic==1.13.3
mutagen==1.47.0
python-dotenv==1.0.1
requests==2.32.3
pytest==8.3.5
PyInstaller==6.19.0
numpy==1.26.4
librosa==0.10.2.post1
